/*$colores:(
    color1:black,
    color2:red,
    color3:green,
);*/

$fuente:( /*usado en index - lema / usado en vende tu auto y contactanos */
    s:0.9375,
    m:1.5rem,
    l:2rem,
    xl:2.5rem,
    xxl:3.125rem,
);