@mixin colum{  /*usado en marcas y modelos*/
    display: grid;
        flex-direction: column;
        justify-content: center;
    }
    
@mixin flex($nowrap,$justify,$aling) {    /*Utilizado en index y vende tu auto*/
    display: flex;
    flex-wrap: $nowrap;
    justify-content: $justify;
    align-items: $aling;
}