.main-contactanos{
    width: 100%;
    background-color: $colorgris;
    align-content: center;
    .div-contactanos{
        width: 100%;
        background: linear-gradient(90deg, rgba(236,154,37,1) 0%, rgba(245,205,66,1) 53%, rgba(254,255,95,1) 100%);
        padding-bottom: 10px;
        padding-top: 5px;
        .contactanos-titulo h1{
            text-align: center;
            text-decoration: underline;
            font-weight: bolder;
            color: colorletra;
            font-size: map-get($fuente,xxl );
            flex-wrap: nowrap;
            transition: 2s;
            &:hover{
                color: white;
            }
        }
        .section2-contactanos{
            .formulario {
                list-style-type: none;
                font-weight: bolder;
                font-size: 15px;
            }
            input{
                width: 95%;
                background-color: white;
                border: 2px solid $colorletra;
                height: 30px;
                &:focus{
                    background-color: $colorgris;
                }   
            }
        }
            .button-contactanos{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                button{
                    background-color: white;
                }
            }
        .mapa{
            display: grid;
            justify-items: center;
            margin-bottom: 10px;
        }
    }
}
