.main-marcasymodelos{
    .section-buscador{
        background-color: rgba(165, 166, 173, 0.954);
        color: black;
        height: 35px;
        display: flex;
        justify-content: right;
        }
        
    .div-buscador input{
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px 2px 2% 2%;
        margin-bottom: 2px;
    }
    .lupa-marcasymodelos{
        padding-top: 8px;
        padding-right: 15px;
        height: 25px;}
}
.section-marcasymodelos{
    @include colum;
    .div-marcas{
        background-color: rgba(165, 166, 173, 0.954);    
        width: 700px;
        align-items: center;
        display: flex;
        border: 2px double black;
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        .logo-mym{
            width: 100px;
        }
        .marcas{
            color: rgb(30, 23, 23); 
            font-weight: normal;
            font-family: "Josefin Sans"; 
            font-style: italic; 
            font-size: 70px;
        }
    }
}